<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2  col-lg-6 col-lg-offset-3 text-center">
    <form class="form_recipe" name="form_recipe" ng-submit="addRecipe()">
        <h2>Add a recipe</h2>

         <label for="title">Name of the dish:</label>
        <input type="text" ng-model="recipe.title" placeholder="Name of the dish" class="form-control" id="title">
        <br>
        <label for="descript">Short description of the dish (from 90 to 110 characters):</label>
        <textarea rows="5" ng-model="recipe.descript" placeholder="Short description of the dish (from 90 to 110 characters)" class="form-control" maxlength="120" minlength="100" id"descript"></textarea>
        <br>
        <label for="ingredients">Ingredients:</label>
        <textarea rows="5" ng-model="recipe.ingredients" placeholder="Put each ingredient on its own line" class="form-control" id="ingredients"></textarea>
        <br>
        <label for="body">How to cook the dish:</label>
        <textarea rows="10" ng-model="recipe.body" placeholder="Put each step on its own line" class="form-control" id="body"></textarea>
        <br>
        <input type="submit" value="Add" class="btn btn-primary" ng-disabled="form_auth.$invalid" />
    </form>
</div>
 