<div class="col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-0 col-sm-9 col-sm-offset-0 col-xs-8 col-xs-offset-2 text-center">
    <form class="form_recipe" name="form_recipe" ng-submit="save()" novalidate>
        <h2>Edit a recipe</h2>
        <label for="title">Name of the dish:</label>
        <input type="text" ng-model="recipe.title" placeholder="Name of the dish" class="form-control" id="title" required>
        <br>
        <label for="descript">Short description of the dish (from 90 to 110 characters):</label>
        <textarea rows="5" name="descript" ng-model="recipe.descript" placeholder="Short description of the dish (from 90 to 110 characters)" class="form-control" maxlength="120" minlength="100" id="descript" ng-minlength="90" ng-maxlength="110" required></textarea>
        <p ng-show="form_recipe.descript.$error.minlength" class="help-block">Description of the dish is too short.</p>
        <p ng-show="form_recipe.descript.$error.maxlength" class="help-block">Description of the dish is too long.</p>
        <br>
        <label for="ingredients">Ingredients:</label>
        <textarea rows="5" ng-model="recipe.ingredients" placeholder="Put each ingredient on its own line" class="form-control" id="ingredients" required></textarea>
        <br>
        <label for="body">How to cook the dish:</label>
        <textarea rows="10" ng-model="recipe.body" placeholder="Put each step on its own line" class="form-control" id="body" required></textarea>
        <br>
        <label for="type">Dish type:</label>
        <select class="form-control" id="type" ng-model="recipe.type" size="5" required>
            <option value="salad">Salads</option>
            <option value="soup">Soups</option>
            <option value="cake">Cakes</option>
            <option value="cocktail">Cocktails</option>
            <option value="other">Other</option>
        </select>
        <br>
        <input type="submit" value="Save" class="btn btn-primary edit_button" ng-disabled="form_recipe.$invalid" />
    </form>
</div>
